
@{
   
    ViewData["Title"] = "LoginUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Ingresá con tu Usuario</h1>
</div>

<hr />


<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <form method="post" asp-action="Login">
            <div class="text-danger">
                @ViewBag.Error
            </div>
            <div class="form-group">
                <label laber-for="rol" class="control-label">TipoUsuario:</label>
                <input name="rol" type="radio" value="@TipoUsuario.Administrador" /> @TipoUsuario.Administrador.ToString()
                <input name="rol" type="radio" value="@TipoUsuario.Cliente" /> @TipoUsuario.Cliente.ToString()
            </div>
            <div class="form-group">
                <label laber-for="email" class="control-label">Email:</label>
                <input name="email" class="form-control" type="text" value="@ViewBag.Email" />
            </div>
            <div class="form-group">
                <label label-for="Contrasenia" class="control-label">Contaseña:</label>
                <input name="contraseña" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>